<footer class="scroll-reveal">
  <div class="footer-inner">
    <div class="footer-content">
      <div class="img-ph footer-logo-ph"></div>
      <div class="footer-info">
        발행처 한국저작권위원회 | 대표전화 055-792-0000<br />
        주소 52851 경상남도 진주시 소호로 117(충무공동) | 기획, 편집
        홍보팀<br />
        Copyright &#169; KOREA COPYRIGHT COMMISION. ALL RIGHTS RESERVED
      </div>
    </div>
  </div>
</footer>

<!-- ===== FLOATING BUTTONS ===== -->
<div class="float-side">
  <div class="top-btn">&#9650;<br />TOP</div>
  <a href="#" class="event-btn">EVENT</a>
</div>
