<header>
  <div class="header-inner">
    <div class="header-left"></div>
    <a href="/" class="logo">저작권 문화</a>
    <nav class="header-nav">
      <a href="#">E-Book 보기</a>
      <a href="#">지난호 보기</a>
      <a href="#">구독신청</a>
      <button class="menu-btn" aria-label="메뉴" aria-expanded="false">
        <span></span><span></span><span></span>
      </button>
    </nav>
  </div>
  <!-- GNB Drawer -->
  <nav class="gnb" aria-hidden="true" aria-label="전체 메뉴">
    <div class="menu-inner">
      <div class="gnb-col">
        <div class="gnb-sec-head">
          <span class="gnb-sec-num">01</span>
          <span class="gnb-sec-name">깊이있는 시선</span>
        </div>
        <ul class="gnb-list">
          <li><a href="articles/sub1.html">특집기획</a></li>
          <li><a href="articles/sub3.html">저작권 초대석</a></li>
          <li><a href="articles/sub4.html">저작권 연구자의 시선</a></li>
        </ul>
      </div>
      <div class="gnb-col">
        <div class="gnb-sec-head">
          <span class="gnb-sec-num">02</span>
          <span class="gnb-sec-name">변화하는 시대</span>
        </div>
        <ul class="gnb-list">
          <li><a href="articles/sub5.html">저작권 중계</a></li>
          <li><a href="articles/sub6.html">판례 돋보기</a></li>
          <li><a href="articles/sub7.html">세계 속 저작권</a></li>
          <li><a href="articles/sub8.html">K-저작권</a></li>
        </ul>
      </div>
      <div class="gnb-col">
        <div class="gnb-sec-head">
          <span class="gnb-sec-num">03</span>
          <span class="gnb-sec-name">행복한 저작권 문화</span>
        </div>
        <ul class="gnb-list">
          <li><a href="articles/sub9.html">행복공감</a></li>
          <li><a href="articles/sub10.html">공유공감</a></li>
          <li><a href="articles/sub11.html">저작권 톺아보기</a></li>
          <li><a href="articles/sub12.html">역사 속 저작권</a></li>
          <li><a href="articles/sub13.html">이럴 땐 어떻게?</a></li>
          <li><a href="articles/sub14.html">저작권 별별이야기</a></li>
          <li><a href="articles/sub15.html">국립저작권 박물관</a></li>
          <li><a href="articles/sub16.html">위원회는 지금</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
